
{#  设置基础的链接地址 #}
{% set prometheus_url='http://opt-prometheus.limikeji.com' %}
{% set alertmanager_url='http://opt-alertmanager.limikeji.com' %}
{% set first_info=data.alerts | first %}
{% set first_info_alert_name=first_info.labels.alertname %}
{% set first_info_filter= ( '{alertname="'+first_info_alert_name+'"}') | urlencode %}
{% set first_info_rule= alertmanager_url + "/#/alerts?silenced=false&inhibited=false&filter=" + first_info_filter  %}


{# 设置外部链接信息 #}
{% set first_info_link=("[Prometheus](" + first_info.generatorURL + ")" ) %}
{% if "grafana" in first_info.annotations %}
    {% set first_info_link= first_info_link + "    [Grafana]("+ first_info.annotations.grafana +")" %}
{% endif %}

{% if "cloudmonitor" in first_info.annotations %}
    {% set first_info_link= first_info_link + "    [CloudMonitor]("+ first_info.annotations.cloudmonitor +")" %}
{% endif %}

{# 设置实例信息和外部链接 #}
{% set first_info_name="" %}
{% if first_info.annotations.instanceId is  defined  %}
    {% set first_info_name=first_info.annotations.instanceId %}
{% elif first_info.annotations.instance is  defined  %}
   {% set first_info_name=first_info.annotations.instance %}
{% elif first_info.labels.instance is  defined  %}
   {% set first_info_name=first_info.labels.instance %}
{% endif %}
{% if "console" in first_info.annotations %}
    {% set first_info_name= "[" +first_info_name + "](" + first_info.annotations.console +")" %}
{% else %}
     {% set first_info_name= first_info_name %}
{% endif %}


{% if "alias" in first_info.annotations %}
     {% set first_info_name= first_info_name + " 【 " + first_info.annotations.alias + " 】" %}
{% endif %}

{# 触发报警 #}
{% if data.status == "firing" %}
> - 实例信息: {{ first_info_name }}
> - 开始时间: {{ first_info.startsAt  }}
> - 规则报警: [{{ first_info_alert_name }}]({{   first_info_rule   }})
> - 规则描述: {{ first_info.labels.desc   }}
{% if first_info.annotations.value is defined and first_info.labels.unit is defined  %}
> - 当前数值: {{ first_info.annotations.value |float |round(2,'common') }}{{first_info.labels.unit }}
{% endif %}
> - 报警级别: {{ first_info.labels.severity }}
> - 实例详情: {{  first_info_link }}
{% if first_info.annotations.message is defined %}
> - 详细信息: {{ first_info.annotations.message }}
{% endif %}
> - 故障信息:  目前恢复情况 {{  extra_data.resolved }}/{{ extra_data.alert }}


{# 报警恢复 #}
{% elif data.status == "resolved" %}
> - 实例信息: {{ first_info_name }}
> - 持续时间: {{ first_info.during  }}分钟
> - 报警规则: [{{ first_info_alert_name }}]({{   first_info_rule   }})
> - 规则描述: {{ first_info.labels.desc  }}
{% if first_info.annotations.value is defined and first_info.labels.unit is defined  %}
> - 当前数值: {{ first_info.annotations.value |float |round(2,'common') }}{{first_info.labels.unit }}
{% endif %}
> - 实例详情: {{  first_info_link }}
{% if first_info.annotations.message is defined %}
> - 详细信息: {{ first_info.annotations.message }}
{% endif %}
> - 故障信息:  目前所有({{  extra_data.resolved }})报警已恢复。
{# 其他的 #}
{% else %}

{% endif %}

